@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.wrapper {
    display: grid;      
    /* grid-template-columns: 100px 100px 100px; --->Creates 3 columns with width 100px each.*/
    /* grid-template-rows: 100px 100px 100px;    --->Creates 3 rows with height 100px.*/
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /*Creates 12 columns with equal width*/
    grid-template-rows:10vh 10vh 5vh 5vh 70vh; /*Creates 5 rows with specified widths.*/
}

.item1{
    grid-row: 1; /* Specify which row you want the item to be in. */
    /* grid-column-start: 1;  ---> specify where to start from
    grid-column-end: 13;      ---> specify where to end */
    grid-column: 1/13; /* grid-column-start & grid-column-end can be replaced by grid-column. */                             
    display:  flex;
    align-items: center;
    font-weight: 500; 
    font-size: 24px;
    padding-left: 5px;
    /* background-color:  #A8E3D9; */
    background-color: #900c3f;
    box-shadow: 1px 1px 1px 1px #000000; /*this shit doesn't work idk why*/
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
}

.item2 {
    grid-row: 2;
    grid-column: 1/4;
    display: flex;
    align-items: center;
    background-color: #DDEEB5;
    padding: 5px;
}

.item3 {
    grid-row: 2;
    grid-column: 4/13;
    display:flex;
    align-items: center;
    /* background-color: #DDEEB5; */
    background-color: #DDEEB5;
    padding: 5px;
}

.item4 {
    grid-row: 3;
}

.item5 {
    grid-row: 4;
}

.item4, .item5 {
    grid-column: 1/13;
    display:flex;
    align-items: center;
    justify-content: center;
    /* background-color: #D1B5EE; */
    background-color: #DDEEB5;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 6  00;
}

.item6{
    grid-row: 5;
    grid-column: 1/13;
    display:flex;
    padding: 10px;
}

.sgrid {
    display: flex;
    flex: 1;
}